@import '../helpers/variables';

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;

    .toggleSidebarButtonContainer {
        display: none;
    }

    .sidebarContainer {
        display: flex;
        flex-direction: column;
        min-width: 220px;
        justify-content: space-between;
    }

    .toggleThemeButtonContainer {
        display: flex;
        justify-content: center;
    }
}