@import '../helpers/variables';
@import '../helpers/mixins';

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    justify-content: space-between;

    .toggleButtonContainer {
        display: flex;
        justify-content: center;
    }
}