@import '../helpers/variables';


// General Styling + Darkmode which is default.
.users {
    display: flex;
    flex-direction: column;

    .online {
        text-align: center;
        margin-bottom: 10px;
        color: $accent;
    }

    .currentUser {
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 1.2em;
    }

    .usersList {
        .user {
            margin-bottom: 0.5rem;
        }
    }
}

// Light Mode Styling
#light .users {
    .online {
        color: $accent-light;
    }
}