@import '../helpers/variables';
@import '../helpers/mixins';

.user {
    display: flex;
    align-items: center;
}

.userListColor {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50px;
    margin-right: 0.5rem;
}