@import '../helpers/variables';

// General Styling + Darkmode which is default.
.messageForm {
    display: flex;
    flex-direction: row;
    max-width: 1500px;

    .messageInput {
        font-size: 1rem;
        padding-left: 0.5em;
        color: $inputText;
        height: 2rem;
        width: 100%;
        background-color: $input;
        border: 1px solid $background;
        border-radius: 5px;

        &:focus {
            border-style: none;
            outline: none;
            border: solid 3px $accent;
        }
    }

    .messageButton {
        cursor: pointer;
        margin-left: 10px;
        font-weight: 700;
        background-color: $button;
        color: $txtDark;
        width: 80px;
        height: 2rem;
        border: none;
        border-radius: 5px;

        &:hover {
            background-color: $buttonHover;
        }
    }
}

// Light Mode Styling
#light .messageForm {
    .messageInput {
        color: $inputText-light;
        background-color: $input-light;
        border: 1px solid $background-light;

        &:focus {
            border: solid 3px $accent-light;
        }
    }

    .messageButton {
        background-color: $button-light;
        color: $txtDark-light;

        &:hover {
            background-color: $buttonHover-light;
        }
    }
}