$themeTransition: .3s;

// DARK MODE PALETTE
$txtDark: #070b14;
$txtLight: #f0f0f0;
$mainWindow: #070b14;
$accent: #f48226;
$background: #131b2e;
$userMessage: #26c4f4;
$message: #24324c;
$button: #26c4f4;
$input: #f0f0f0;
$inputText: $txtDark;
$scrollbar: #26c4f4;
$scrollbarHover: #26c4f490;

// LIGHT MODE PALETTE
$txtDark-light: #f8f4eb;
$txtLight-light: #0f0f0f;
$mainWindow-light: #f8f4eb;
$accent-light: #0b7fd7;
$background-light: #ece4d1;
$userMessage-light: #d93b0b;
$message-light: #dbcdb3;
$button-light: #d93b0b;
$input-light: #ffffff;
$inputText-light: $txtLight-light;
$scrollbar-light: #d93b0b;
$scrollbarHover-light: #d93b0b90;