@import '../helpers/variables';
@import '../helpers/mixins';

.loginScreen {
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .disclaimer {
        padding: 0 1em;
    }

    span {
        color: $accent;
    }

    .loginForm {
        margin: 1em 0;
        border-radius: 15px;
        padding: 2rem;
        background-color: $mainWindow;
        @include flexColumnCenter;

        .loginInstructions {
            margin-top: 2rem;
        }

        hr {
            background-color: $background;
            border: none;
            height: 2px;
            width: 100%;
            margin: 2rem 0;
        }

        .inputLabel {
            width: 100%;
            margin-bottom: 2rem;

            .formInput {
                text-align: center;
                font-size: 1.5rem;
                color: $inputText;
                margin-top: 3px;
                height: 3rem;
                width: 100%;
                background-color: $input;
                border: 1px solid $background;
                border-radius: 5px;
            }

            #username:focus {
                border-style: none;
                outline: none;
                border: solid 3px $accent;
            }

            #color {
                cursor: pointer;
            }
        }

        .loginButton {
            cursor: pointer;
            font-weight: 600;
            font-size: 1.2rem;
            background-color: $button;
            color: $txtDark;
            width: 100%;
            margin-top: 1rem;
            height: 3rem;
            border: none;
            border-radius: 5px;
        }
    }
}


// LIGHT THEME
#light .loginScreen {
    span {
        color: $accent-light;
    }

    .loginForm {
        background-color: $mainWindow-light;

        hr {
            background-color: $background-light;
        }

        .inputLabel {
            .formInput {
                color: $inputText-light;
                background-color: $input-light;
                border: 1px solid $background-light;
            }

            #username:focus {
                border: solid 3px $accent-light;
            }
        }

        .loginButton {
            background-color: $button-light;
            color: $txtDark-light;
        }

    }
}