@import '../helpers/variables';

// General Styling + Darkmode which is default.
.messageItem {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 1rem 0;

    .userColor {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 100px;
    }

    .message {
        padding: 0.7em 1em;
        margin: 0.3em 0;
        max-width: 85%;
        line-height: 1.4;
        word-wrap: break-word;
        cursor: pointer;

    }
}

//  Users styling
.userMessage {
    align-items: start;

    .authorWrap {
        display: flex;
        align-items: center;

        .author {
            margin-left: 0.3rem;
        }
    }

    .message {
        border-radius: 0 10px 10px 10px;
        background-color: $message;
    }

    .time {
        margin-left: 1rem;
    }
}

//  Current user styling
.currentUserMessage {
    align-items: end;
    margin-right: 5px;

    .authorWrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .author {
            margin-right: 0.3rem;
        }
    }

    .message {
        border-radius: 10px 0 10px 10px;
        background-color: $userMessage;
        color: $txtDark;
    }

    .time {
        margin-right: 1rem;
    }
}

//  Notification message styling
.notificationMessage {
    text-align: center;
    color: $accent;
}

// Light Mode Styling
#light .userMessage {
    .message {
        background-color: $message-light;
    }
}

#light .currentUserMessage {
    .message {
        background-color: $userMessage-light;
        color: $txtLight;
    }
}

#light .notificationMessage {
    color: $accent-light;
}