@import './helpers/variables';

// General Styling + Darkmode which is default.
.chatApp {
    background-color: $mainWindow;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 1500px;
    max-width: 100%;
    padding: 2rem;
    border-radius: 15px;

    .verticalDivider {
        width: 2px;
        margin: 0 2rem;
        background-color: $background;
    }
}

// Light Mode Styling
#light .chatApp {
    background-color: $mainWindow-light;

    .verticalDivider {
        background-color: $background-light;
    }
}