@import './helpers/variables';
@import './helpers/mixins';

.chatApp {
    background-color: $mainWindow;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 80%;
    width: 1500px;
    max-width: 100%;
    padding: 2rem;
    border-radius: 15px;

    .verticalDivider {
        width: 2px;
        margin: 0 2rem;
        background-color: $background;

    }
}

// LIGHT MODE

#light .chatApp {
    background-color: $mainWindow-light;

    .verticalDivider {
        background-color: $background-light;
    }
}