* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    min-height: 100vh;
}



// ZA MOBILE I TAKO TOOOO
// .app {
//     height: 100vh;
//     min-height: 100%;
// }