// Dark Mode
$color1: #d6d6d6; // Text color
$color2: #252525; // background black or text color
$headerFooterBg: #4d4d4d; // header and footer
$contentWindow: #414141; // content window color
$accentColor: #bb86fc; // accent color